body {
    margin: 0;
    padding: 0;
    background-image: url('/images/background3.png');
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}

.container {
    /* display: flex; */
    margin: 0 150px;
}
.container .items {
    padding: 30px 30px;
    margin: 20px 20px;
    align-items: center;
    background-color: chocolate;
    border: 2px solid black;
    border-radius: 20px;
    display: flex;
    /* height: 250px;
    width: 250px; */
}

.description {
    margin-left: 10vh;
}

